@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微軟正黑體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px 0;
}

section {
  margin-bottom: 2rem !important;
}

:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

h1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#00004a), color-stop(54%, #000cc6), to(#0017ff));
  background: linear-gradient(0deg, #00004a, #000cc6 54%, #0017ff 100%);
  color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

/* 多行註釋會被編譯到 .css 文件 */
/* 2. Flow Control */
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if ~ @else if ~ @else*/
  background-color: #dc3545;
  /* 使用 and 兩運算式條件都成立時 */
  color: #ffffff;
  /* 使用 or 兩運算式其中之一成立時 */
  font-size: 20px;
  /* 使用 not 運算式結果取反 */
  padding: 1rem;
  /* 符合 CSS 的值型別都可以寫判斷運算式 */
  margin: 50px;
  /* Scss 內建函式有類似 JS 的三元判斷式, 因為函式 if() 沒有 @ */
  /* if(條件, true 時執行, false 時執行) */
  border: 10px solid #000;
}

.through-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #aaa;
}

.through-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #aaa;
}

.through-3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: #aaa;
}

.to-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: blue;
}

.to-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: blue;
}

#section03 p {
  border-bottom: 1px solid black;
}

#section03 .menu {
  margin-top: 1rem;
  font-size: 0;
}

#section03 .menu li {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1rem;
}

#section03 .menu li a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

#section03 .menu li a:hover {
  color: yellow;
  background-color: #aaa;
}

#section03 .menu li + li {
  border-left: 1px solid #fff;
}

.extend {
  width: 50px;
  height: 50px;
}

.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: green;
}

.box4 {
  background-color: black;
  width: 100px;
  height: 100px;
  width: 50px;
  height: 50px;
  width: 200px;
  height: 200px;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: calc(50px + 10px);
}

.sidelength {
  width: 200px;
  height: 400px;
}

.sidelength2 {
  width: 100px;
}

nav {
  font-family: '微軟正黑體';
  font-size: 1rem;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
