@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px 0;
}

section {
  margin-bottom: 2rem !important;
}

:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/* 1. 變數 -------------------------------------------------------------------------------------------------- */
/* Sass 變數，不會被編譯出來 */
h1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#00004a), color-stop(54%, #000cc6), to(#0017ff));
  background: linear-gradient(0deg, #00004a, #000cc6 54%, #0017ff 100%);
  color: #ffffff;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

/* 2. Flow Control -------------------------------------------------------------------------------------------------- */
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if ~ @else if ~ @else */
  background-color: blue;
  /* 使用 and 兩運算式條件都成立 */
  color: white;
  /* 使用 or 兩運算式其中之一成立 */
  font-size: 20px;
  /* 使用 not 反轉運算式的結果 */
  padding: 1rem;
  /* 符合CSS的值型態都可以寫成判斷運算式 */
  margin: 50px;
  /* 內建函式，類似JS的三元運算子，因為函式 if 沒有 @ */
  border: 10px solid #000;
}
