head
body
h1 aaasssssss
ul
  li 1
  li 2
  li 3
a(href="https://fb.com")  
table
  tr
    td 
      ul
        li 
          ul
            li 22
            li 22
div
  ol
    li 666
h1.class.color#id 222   
#app  
  div
    h1 aaa
    p 
      | 123
      br
      |456
    

    